* {
    box-sizing: border-box;
    margin: 0;
}
.global-text-center {
    text-align: center;
}
body {
    margin: 0;
}
#root {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    background-color: aliceblue;
    min-height: 100vh;

    display: grid;
    grid-template-areas:
        "header"
        "footer";
    align-content: space-between;
    justify-content: center;
}
#header {
    --gap-top-bottom: 1rem;
    grid-area: header;

    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: var(--gap-top-bottom);
    justify-items: center;
}
#header-img {
    height: 100%;
}
#footer {
    grid-area: footer;
}
#footer-small-by {
    margin-right: 1ch;
}
